@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollArea {
  min-height: 100%; /* Set a maximum height for the scrollable section */
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: whitesmoke whitesmoke; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.scrollArea::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.scrollArea::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}
